{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if location%}
      <h2>Found {{ location|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 projects for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if location %}
    {% for locations in location %}
      <div class="card" style="width: 18rem; margin-top: 10px">
        <div class="card-body">
            <h5 class="card-title">{{locations.location}}</h5>
            <p class="card-text">{{locations.name}}</p>
            
        </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}